.container {
    padding: 0;
    margin: 1.5rem 0;
    max-width: 100%;
    min-width: 100%;
}

.img-size {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 20%;
}

table {
    line-height: 0.7rem;
    padding-top: 3px;
}

.thead-dark, .thead-light, .card-text, .card-title {
    line-height: 0.8rem;
}

.chart {
    height: 50rem;
}

#chart-1, #chart-2 {
    width: 100%;
    height: 100%;
}

.single-ingredient {
    min-width: 100%;
}

.col-one {
    width: 2rem;
}

.col-two {
    width: 20rem;
}

.col-three {
    width: 15rem;
}

.print {
    color: #6593f5;
    border: 1px solid #6593f5;
}

.print:hover {
    background-color: #6593f5;
    color: white;
    border: none;
}

.recipe-ingredients, .recipe-ingredients tbody td, .subrecipe tbody td {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0.7rem;
}

.single-ingredient:hover {
    cursor: pointer;
}

.height {
    line-height: 0.5rem;
    padding-top: 9px;
    padding-bottom: 9px;
}

.subName {
    padding-left: 3rem;
    padding-top: 0.5rem;
}

.subrecipe tbody tr span {
    padding-top: 0.5rem;
    padding-left: 0.9rem;
}

.subrecipe {
    margin-bottom: 0;
}

.actionable {
    text-decoration: none;
    color: #6593f5;
    cursor: pointer;
}