<div class="container d-flex justify-content-around">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <div class="card">
                <img class="card-img-top img-size d-flex justify-content-center" 
                src="../../../../../assets/crop_pear.jpg" alt="Card image cap">
                <div class="card-body">
                    
                    <!-- Title and Chart -->
                    <div class="stats d-flex justify-content-around">
                          <div class="row charts">
                              <div class="col-sm-4">
                                <h5 class="card-title">{{recipeDetails.title}}</h5>
                                <p class="card-text font-weight-light">created on: {{recipeDetails.createdOn | date}}</p>
                                <button type="button" class="btn btn-outline-info print" (click)="reRoute()">Print</button>
                              </div>
                              <div class="col-sm d-flex justify-content-center"><div id="chart-1"></div></div>
                              <div class="col-sm d-flex justify-content-center"><div id="chart-2"></div></div>
                          </div>
                    </div>

                    <!-- Table with nutrition data -->
                    <!-- ingredients -->
                    <table class="table recipe-ingredients">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="col-two">ingredients</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr  *ngFor="let ingredient of recipeIngredients; index as i">
                         <td colspan="3">
                            <app-single-ingredient class="single-ingredient" [ingredient]="ingredient" [index]="i">
                            </app-single-ingredient>
                         </td>
                       </tr>
                      </tbody>
                    </table>
                          
                    <!-- subrecipe -->
                    <table *ngIf="hasSubrecipe" class="table subrecipe">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">subrecipe</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr>
                         <td colspan="3" class="subName d-flex justify-content-left">
                          <span *ngFor="let subrecipe of subrecipeName">
                            <p><a href="http://localhost:4200/recipes/details/{{subrecipe}}" class="actionable">
                              {{subrecipe}}
                            </a></p>
                          </span>
                         </td>
                       </tr>
                      </tbody>
                    </table>

                    <!-- recipe nutrition -->
                    <table class="table nutrients">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="col-one">#</th>
                          <th scope="col" class="col-two">overall recipe nutrients</th>
                          <th scope="col" class="col-three">value per 100g</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let nutrient of recipeNutrition; index as i">
                            <td class="col-one height">{{i+1}}</td>
                            <td class="col-two height">{{this.nutrient.nutrient}}</td>
                            <td class="col-three height">{{this.nutrient.value | number}}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
