
               <div class="d-flex justify-content-around">
                 
<div class="d-flex justify-content-around">
    
    <select   class="form-control"  data-live-search="true" id="exampleFormControlSelect1" id="foodgroup" (change)="foodGroupfilter($event.target.value)">
        <option *ngFor="let food of foodGroups" value="{{food}}"  >{{food}}</option>
      </select>
      <div *ngIf="filter">
      <select   class="form-control"  data-live-search="true" id="exampleFormControlSelect1" id="foodgroup" (change)="selectItem2($event.target.value)">
          <option *ngFor="let product of names" value="{{product}}"  >{{product}}</option>
      </select>
    </div>
    <div *ngIf="!filter">
<input placeholder={{event}}  id="typeahead-basic" type="text" class="form-control"  [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="selectItem($event)" (change)="filterChanged($event.target.value);increments(quantity.value);calculateGrams(quantity.value,measure.value)"/>
</div>
<select   class="form-control" id="exampleFormControlSelect1"  id="measure"  #measure (change)="filterChanged($event.target.value);increments(quantity.value);calculateGrams(quantity.value,measure.value)" >
    <option *ngFor="let measure of listOfMeasurments" value="{{measure.measure}}"  >{{measure.measure}}</option>
  </select>
  <div class="d-flex justify-content-around">
  <div class="def-number-input number-input safari_only">
      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"(click)="increments(quantity.value);calculateGrams(quantity.value,measure.value)" class="minus"></button>
      <input class="quantity" min="0" id='quantity' name="quantity" placeholder={{amount}} #quantity  type="number" (change)="increments($event.target.value);calculateGrams(quantity.value,measure.value)">
      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="increments(quantity.value);calculateGrams(quantity.value,measure.value)" class="plus"></button>
    </div>
</div>
  

<div  class="d-flex flex-nowrap" > 
    
  </div> 
</div>
<div>
    <i (click)="removeField(index)" class="fa fa-trash fa-lg pull-right"></i>
  <i *ngIf="item" (click)="item=false" class="fa fa-minus fa-lg pull-right"></i>
  <i *ngIf="!item" (click)="item=true" class="fa fa-plus fa-lg pull-right"></i>
</div>

</div>



<div *ngIf="item" class="toggle-Wrapper">

    <i *ngIf="item2" (click)="item2=false" class="fa fa-minus fa-lg pull-right"></i>
    <i *ngIf="!item2" (click)="item2=true" class="fa fa-plus fa-lg pull-right"></i>

    <div class="form-group">
        <p>Fat<ngb-progressbar showValue="true" type="success" [value]="nutrientFat"></ngb-progressbar></p>
        <p>Carbs<ngb-progressbar showValue="true" type="success" [value]="nutrientCarbs"></ngb-progressbar></p>
        <p>Protein<ngb-progressbar showValue="true" type="success" [value]="nutrientProtein"></ngb-progressbar></p>
    </div>
    
    
</div>

<div *ngIf="item2" class="toggle-Wrapper">

    <div class="form-group">
        <div *ngFor="let item of calculatedNutritions | keyvalue">
            <p><ngb-progressbar  type="success" [value]="((item.value.value*amount)/100).toFixed(2)">{{item.value.description}}:{{(item.value.value*amount/100).toFixed(2)}}{{item.value.unit}}</ngb-progressbar></p>
          </div>
    </div>
  </div>
