
/* :host {
  background-color: grey;
  display: block;
} */
.red{color:#d9534f}
.fa-trash{
  color:#d9534f;
  cursor: pointer;
}
.fa{
  cursor: pointer;
}
.marginT60{
    margin-top:60px;
} 
#typeahead-basic{
  width: 200px;
  height: 42%;
  resize: none;
  
}
#measure{
  width: 100px;
  height: 42%;
  resize: none;
}
#foodgroup{
  width: 200px;
  height: 42%;
  resize: none;
}




.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    margin-bottom: 3rem;
  }
  
  .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    text-align: center;
  }
  
  .number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
  }
  
  .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
  }
  
  .number-input.number-input button.minus {
    padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
  }
  
  
  .progress md-progress{
    inline-size: 0%
  }
  @import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.css";
::ng-deep .progress-bar {
  background-color: #aed407 !important;
}
.form-control{
  cursor: pointer;
}