<div class='wrapperFull'>

<div *ngIf="model && !report" class="padding20 white-bg">

  <div class="spacer30"></div>
  <div class="row">
    <div class="col-4">



      <h4 (click)="test()">Select Ingredients</h4>
      
      <p>Let's buld something tasty</p><img class="img"src="../../../../assets/—Pngtree—semicircular arrow material_3508871.png" alt="">
    
      <div class="fields" *ngFor="let item of fieldModels">
        <div class="field pointer shadow-bg" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
          (dndEnd)="onDragEnd($event)">
          <i [ngClass]="item.icon" class="fa pull-left"></i>
          <h5>{{item.label}}</h5>
        </div>
      </div>
      <div class="col-5 charts">
      <div class="col-sm d-flex justify-content-center">
        <div id="chart-1"></div>
      </div>
      <div class="col-sm d-flex justify-content-center">
        <div id="chart-2"></div>
      </div>
    </div>
    </div>
    <div class="col-8">

      <div class="form-group">
        <h2><input class="form-control" type="text" placeholder="Recipe Name..." [(ngModel)]="receipeName" /></h2>

      </div>
      <section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event,model.attributes)"
        class="dndDropArea" [ngClass]="{'empty':model.attributes.length == 0}"
        [style.backgroundColor]="model.theme.bgColor" [style.color]="model.theme.textColor" >
        <div #ing></div>
        <div #subrecipe></div>
        <div class="field"  *ngFor="let item of model.attributes;let i= index;" (dndStart)="onDragStart($event)"
          (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, model.attributes, 'move')"
          [dndEffectAllowed]="'all'" [dndDraggable]="item">
          <div class="row form-group">
            <div class="col-7">

              <div *ngIf="item.type=='text'">
                <div class="input-group" >

                  <button type="button" class="btn btn-secondary" (click)="createComponent('success')">Add
                    Ingredient</button>

                </div>
              </div>
              <div *ngIf="item.type=='email'">
                <button type="button" class="btn btn-secondary" (click)="createSubrecipeComponent('success')">Add
                  Subrecipe</button>
              </div>
              <div *ngIf="item.type=='textarea'">
                <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                <label>Description</label> <label *ngIf="item.required" class="text-danger">*</label>
                <textarea class="form-control" id="{{item.name}}" placeholder="Describe your recipe"
                  [(ngModel)]="recipeDescription">
                        </textarea>
              </div>
              <div *ngIf="item.type=='file'">
                <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                  class="text-danger">*</label>
                <input type="file" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
                <small class="form-text text-danger">(File can't be uploaded right now)</small>
              </div>
              <div *ngIf="item.type=='radio'">
                <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                <div *ngFor="let v of item.values" class="inline-form-group">
                  <input type="radio" [value]="v.value" name="{{item.name}}" [(ngModel)]="courseOption"> {{v.label}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <button class="btn btn-outline-dark snippet btn-border" (click)="submit()">Save Recipe</button>
      <button class="btn btn-outline-dark snippet btn-border" (click)=" analyseRecipe()">Analyse</button>
    </div>
  </div>
</div>
</div> 