.btn {
  margin: 2px;
}

.snip1520 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #700877;
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
}

.snip1520 img,
.snip1520:before,
.snip1520:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1520 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1520:before,
.snip1520:after {
  content: '';
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.snip1520:before {
  width: 60px;
  height: 1px;
  left: 0;
}

.snip1520:after {
  height: 60px;
  width: 1px;
  top: 100%;
}

.snip1520 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1520:hover img,
.snip1520.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.snip1520:hover:before,
.snip1520.hover:before,
.snip1520:hover:after,
.snip1520.hover:after {
  opacity: 1;
  top: 50%;
  left: 50%;
}

.card {
  margin: 1rem 0rem;
}

a {
  color: #6593f5;
}

p {
  line-height: 0.7rem;
}

::ng-deep .progress-bar {
  background-color: #aed407 !important;
}

.card-link {
  color: #6593f5;
}

.swal2-cancel, .swal2-confirm {
  margin: 2px;
}

