<div *ngIf="this.recipe" class="card" style="width: 100%">
    <div class="row">
        <div class="col-sm-4">
            
            <figure class="snip1520 card-img-top hover" [ngClass]="{'hover': condition}" (mouseleave)="condition=false" (mouseenter)="condition=true">
                <!-- tooltip setup:  placement="left" ngbTooltip="Click for recipe details" -->
                <img src="../../../../../assets/basil.jpg" alt="sample88" />
                <a (click)="openDetails()"></a>
            </figure>
            <div class="card-body d-flex justify-content-between links">
                <button class="card-link btn button-link" (click)="toEdit(recipe.title)">Edit 
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="card-link btn button-link" (click)="openDialogue()">Delete 
                        <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="col-sm-8 stat-container">
            <div class="card-body">
                <h5 class="card-title">{{recipe.title}}</h5>
                <p class="card-texts small font-weight-light">category: {{resolvedCategory}} | kcals per 100 grams: {{nutritionSummary.energy | number:'.0-2'}}</p>
                
                <p><ngb-progressbar class="carbs" [value]="nutritionSummary.carbs">carbs</ngb-progressbar></p>
                <p><ngb-progressbar class="proteins" [value]="nutritionSummary.proteins">proteins</ngb-progressbar></p>
                <p><ngb-progressbar class="fat" [value]="nutritionSummary.fat">fat</ngb-progressbar></p>

                <div class="small font-weight-light">
                    <p>nutrition per 100g -
                        carbs: {{nutritionSummary.carbs | number:'.0-2'}} | 
                        proteins: {{nutritionSummary.proteins | number:'.0-2'}} | 
                        fat: {{nutritionSummary.fat | number:'.0-2'}}
                    </p>
                </div>
            </div>            
        </div>
    </div>
</div>
