
.right {
    float: right
  }
  
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }
  
  input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 10px;
    width: 15px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: content-box;
    -webkit-appearance: textfield;
    outline: none;
    cursor: pointer;
    z-index: 5;
  }
  #search input[type=search].filled
  {
    width: 400px;
    padding-left: 32px;
    color: #4a83c0;
    background-color: #fff;
    cursor: auto;
  
  }
  
  input[type=search]:focus {
    width: 400px;
    background-color: #fff;
    border-color: #66CC75;
    padding-left: 32px;
    cursor: auto;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  }
  
  #search input[type=search]:hover {
    background-color: #fff;
  }
  
  #search input:-moz-placeholder {
    color: transparent;
  }
  
  #search input::-webkit-input-placeholder {
    color: transparent;
  }
  #search input[type=search].filled:-moz-placeholder{
    color:grey;
  }
  #search input[type=search].filled::-webkit-input-placeholder{
    color:grey;
  }
  
  .close
  {
    z-index:10;
    margin-left:-3rem;
    margin-right:1rem;
  }

  .navbar-toggler {
    margin-right: 1.5rem;
  }
  