<div>
  <button type="button" class="navbar-toggler" (click)="this.toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="right">
    
    <form id="search">
      <input #search type="search"  [ngbTypeahead]="search1" [placeholder]="filled?'Search Recipe':''" [ngClass]="{'filled':filled}" 
      (click)="filled=!filled" (blur)="filled=search.value?true:false"  (selectItem)="toRecipe($event)">
                <!-- <button class="close" *ngIf="filled" (click)="search.value='';filled=false">X</button> -->
    </form>
    
  </div>
  
</div>

