<div class="d-flex justify-content-around">
        <div class="d-flex justify-content-around">
        
        
        <select   class="form-control" id="exampleFormControlSelect1"  (change)="getRecipe($event.target.value)" >
          <!-- <option value="">{{name}}</option> -->
            <option  *ngFor="let title of allRecipes" [selected]="title.title == name">{{title.title}}</option>
          </select>
          <div class="d-flex justify-content-around">
          <div class="def-number-input number-input safari_only">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"(click)="increments(quantity.value);showCkal()" class="minus"></button>
              <input class="quantity" min="0" id='quantity' placeholder={{amount}} name="quantity" #quantity  type="number" (change)="increments($event.target.value);showCkal()">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="increments(quantity.value);showCkal()" class="plus"></button>
            </div>
        </div>
          
        
        <div  class="d-flex flex-nowrap" >
            <i *ngIf="item" (click)="item=false" class="fa fa-chevron-up pull-right"></i>
            <i *ngIf="!item" (click)="item=true" class="fa fa-chevron-down pull-right"></i>
            <i (click)="removeField(subrecipeIndex)" class="fa fa-trash pull-right"></i>
          </div> 
        </div>
        
         
   
          </div>
          <div *ngIf="item" class="toggle-Wrapper">
              <div class="form-group">
                  <p>ckal<ngb-progressbar showValue="true" type="success" [value]="showCkalNumber"></ngb-progressbar></p>
                    </div>
              </div>