<div class="container d-flex justify-content-around">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <div class="card">
                <img class="card-img-top img-size d-flex justify-content-center" 
                src="../../../../../assets/crop_pear.jpg" alt="Card image cap">
                <div class="card-body">
                    
                    <!-- Title and Summary info -->
                    <div class="stats">
                          <div class="row">
                              <div class="col-sm-4">
                                <h5 class="card-title">{{this.recipeDetails.title}}</h5>
                                <p class="card-text font-weight-light">created on: {{this.recipeDetails.createdOn | date}}</p>
                              </div>
                          </div>
                    </div>

                    <br>

                    <p>
                      {{this.recipeDetails.information}}
                    </p>

                    <!-- Table with nutrition data -->
                    <table class="table recipe">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col" class="col-one">#</th>
                                <th scope="col" class="col-two">ingredients</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let ingredient of recipeIngredients; index as i">
                                <td scope="row" class="height col-one">{{i+1}}</td>
                                <td class="height col-two-ing">{{this.ingredient.product.description}}: {{this.ingredient.amount}} {{this.ingredient.selectedMeasure}}</td>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" class="col-one">#</th>
                                <th scope="col" class="col-two">recipe nutrients</th>
                                <th scope="col" class="col-three">value per 100g</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let nutrient of recipeNutrition; index as i">
                                <td scope="row" class="col-one-rec height">{{i+1}}</td>
                                <td class="col-two-rec height">{{this.nutrient.nutrient}}</td>
                                <td class="col-three-rec height">{{this.nutrient.value | number}}</td>
                              </tr>
                            </tbody>
                          </table>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
