.container {
    padding: 0;
    margin: 1.5rem 0;
    max-width: 100%;
    min-width: 100%;
    page-break-after: always;
}

.container:last-child { 
    page-break-after: avoid;
}

.img-size {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 20%;
}

table {
    line-height: 0.7rem;
    padding-top: 1.5rem;
}

.thead-dark, .thead-light, .card-text, .card-title {
    line-height: 0.8rem;
}

.single-ingredient {
    min-width: 100%;
}

.col-one {
    min-width: 7%;
}

.col-two {
    min-width: 86%;
}

.col-two-ing {
    min-width: 93%;
}

.col-three {
    min-width: 7%;
}

.col-one-rec {
    width: 2rem;
}

.col-two-rec {
    width: 20rem;
}

.col-three-rec {
    width: 15rem;
}

.card-text {
    margin-bottom: 1rem;
}

.height {
    line-height: 0.5rem;
    padding-top: 9px;
    padding-bottom: 9px;
}