<div class="calendar-wrapper">
    <div class="row">
        <div class="col-sm-2">
          
        </div>
        <div class="col-sm-8">
          <full-calendar
            #mycalendar
            deepChangeDetection="true"
            defaultView="dayGridMonth"
            (dateClick)="handleDateClick($event)"
            [plugins]="calendarPlugins"
            [weekends]="calendarWeekends"
            [events]="calendarEvents"
            [editable]="true"
          ></full-calendar>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>