.calendar-wrapper {
    padding: 1rem;
    height: 80%;
}

#external-events {
  position: relative;
  z-index: 2;
  top: 5px;
  left: 5px;
  width: 11rem;
  padding: 0 6px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

/* .fc-today {
  background: #6593f5 !important;
} */