
<nav class="navbar navbar-dark bg-dark">
  
  <app-navbar></app-navbar>
  <img class="img" src="../assets/croped_imageedit_3_3200457826.png" type="img" routerLink="/recipes"/>
</nav>

<app-nav-sidebar></app-nav-sidebar>

<router-outlet></router-outlet>
<router-outlet name="print"></router-outlet>
