<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details">
                  Sorry, an error has occurred. Requested page not found!
              </div>
              <div class="error-actions">
                  <a class="btn btn-outline my-2 my-sm-0  ml-auto snippet hover border-rad" [ngClass]="{'hover': condition}" routerLink="/" (mouseleave)="condition=false" (mouseenter)="condition=true"><span class="glyphicon glyphicon-home"></span>
                    <span class="oi oi-home"></span> Take Me Home </a>
              </div>
          </div>
      </div>
  </div>
</div>