@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

/* Button Animation */
/* snippet based on example from littlesnippets.net */
.snippet {
  background-color: #6593f5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-family: 'BenchNine', Arial, sans-serif; */
  font-size: 0.8em;
  font-size: 1.1rem;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  font-weight: 400;
}

.snippet:before,
.snippet:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 17px;
  position: absolute;
  width: 17px;
}

.snippet:before {
  border-color: #6593f5;
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.snippet:after {
  border-bottom-width: 2px;
  border-color: #6593f5;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}

.snippet:hover,
.snippet.hover {
  background-color: #6593f5;
}

.snippet:hover:before,
.snippet.hover:before,
.snippet:hover:after,
.snippet.hover:after {
  height: 100%;
  width: 100%;
}

.border-rad {
  border-radius: 0px;
}
