.wrapper {
    padding: 2rem;
}

.header, .header-space, .footer, .footer-space { 
    height: 3rem;
    align-self: center;
}

img {
    height: 8rem;
    width: 8rem;
}

.header { 
    position: fixed; 
    top: 0; 
}

.footer { 
    position: fixed; 
    bottom: 0; 
}

@media screen {
  :host {
    display: none;
  }
}

@media print {
    app-root > * { display: none; }
    app-root app-print-layout { display: block; }
}