.login-form {
  width: 340px;
  margin: 50px auto;
  position: relative;
}
.login-form form {
  margin-bottom: 15px;
  /*background: #f7f7f7;*/
  background-image: url('../../../assets/foods.jpg');
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}

.white {
  color: white;
}

/* Button Animation */
/* code snippet from littlesnippets.net */
@import url(https://fonts.googleapis.com/css?family=Muli);
.snippet {
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  line-height: 1em;
  margin: 15px 40px;
  /* text-transform: uppercase; */
  cursor: pointer;
}
.snippet p {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 0.5em;
  padding: 15px 82px;
  position: relative;
}
.snippet p span {
color: #6593f5;
text-decoration: none;
}
.snippet p:before,
.snippet p:after {
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
height: 2px;
width: 35%;
background-color: #6593f5;
position: absolute;
content: '';
opacity: 0;
}
.snippet p:before {
top: 0;
left: 0;
}
.snippet p:after {
bottom: 0;
right: 0;
}
.snippet p:hover:before,
.snippet p.hover:before,
.snippet p:hover:after,
.snippet p.hover:after {
opacity: 1;
}
.snippet p:hover:before,
.snippet p.hover:before {
left: 65%;
}
.snippet p:hover:after,
.snippet p.hover:after {
right: 65%;
}
/* Demo purposes only */
body {
background-color: #212121;
}
