<div class="login-form">

    <form #loginForm="ngForm">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input #userInput type="text" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input #passwordInput type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-dark btn-block" (click)='this.login(userInput.value,passwordInput.value)' >Log in</button>
            <label class="text-center white">{{wrongCredentials}}</label>
        </div>
        <div class="clearfix">
            <!-- <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label> -->
            <!-- <a href="#" class="pull-right">Forgot Password?</a> -->
        </div>        
    </form>
    <div class="snippet">
        <p class="text-center green current" routerLink="/register"><span class="hover" [ngClass]="{'hover': condition}" (mouseleave)="condition=false" (mouseenter)="condition=true">Register</span></p>
    </div>
</div>
