<div class="wrapper">
<textarea class="form-control" placeholder="Describe your recipe" [(ngModel)] = "recipeDescription">
    </textarea>
    <button  class='btn btn-outline-dark snippet btn-border' (click)="toEdit(recipeDescription)">Analyse recipe</button>
</div>