.wrapper{
    position:relative;
    z-index: 3;
    padding: 1rem

}
.form-control{
    height: 400px;
}
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snippet {
  background-color: #6593f5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', 'BenchNine', Arial, sans-serif;
  /* font-size: 0.4em; */
  font-size: 1rem;
  line-height: 1em;
  margin: 5px 10px;
  outline: none;
  padding: 12px 24px 10px;
  position: relative;
  font-weight: 400;
}

.snippet:before,
.snippet:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 20px;
  position: absolute;
  width: 20px;
}

.snippet:before {
  border-color: #6593f5;
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.snippet:after {
  border-bottom-width: 2px;
  border-color: #6593f5;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}

.snippet:hover,
.snippet.hover {
  background-color: #6593f5;
}

.snippet:hover:before,
.snippet.hover:before,
.snippet:hover:after,
.snippet.hover:after {
  height: 100%;
  width: 100%;
}

.border-rad {
  border-radius: 0px;
}
.container {
  padding: 0;
  margin: 1.5rem 0;
  max-width: 100%;
  min-width: 100%;
}
textarea{
    margin-bottom: 1rem
}