/* You can add global styles to this file, and also import other style files */

  
  
  .clearfix{clear:both;}
  .pointer{cursor: pointer;}
  .ucfirst{text-transform: capitalize;}
  .min300{min-height:300px}
  .app-box{
      padding: 10px;
      margin-bottom:20px;
      height: 230px;
      background: #b5e8d4;
      overflow: hidden;
      box-shadow: 1px 1px 4px #ccc;
  }
  .app-box:hover{
      box-shadow: 1px 1px 4px #999;
  }
  .app-box .remove{
      position: absolute;
      right: 21px;
      top: 0px;
      color: #545454;
      display:none;
  }
  .app-box:hover .remove{
      display:block;
  }
  .inline-btn{
      background: #00b970;
      padding: 1px 5px;
      color: white;
      display: inline-block;
      margin-bottom: 5px;
  }
  .box{
      padding: 10px;
      margin-bottom:10px;
      overflow: auto;
      box-shadow: 1px 1px 4px #ddd;
  }
  .form-group .form-control{
      font-size:inherit;
      background-color: inherit;
  }
  
  .dndDropArea{
      padding: 10px;
      /* border: dotted #ddd 2px; */
  }
  
  .dndDropArea.empty{
      min-height:100px;
      border: dotted #56bbcd 1.5px;
  }
  
  .field{
      padding:5px;
      margin-bottom:10px;
      position: relative;
  }
  .field:hover{
      box-shadow: 1px 1px 4px #ddd;
  }
  .toggle-Wrapper{
      padding: 15px;
      background: #d6d6d629;
  }
  .dndHandle{
      cursor: pointer;
      color: #999;
  }
  .dndDraggingSource{
      opacity:0.3;
  }
  .dndPlaceholder{
      background: rgb(206, 238, 238); border-radius: 2px; padding: 20px;
      margin-bottom:10px;
  }
  .field .fa{
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 24px;
      vertical-align: middle;
  
  }
  .red{color:#d9534f}
  .fa-trash{color:#d9534f}
  .marginT60{
      margin-top:60px;
  }
  
  .color-red{color:red;}
  .report-block{ 
      padding:10px;
      background:#f8f8f8;
      margin-bottom:20px;
  }
  .report-block .row:nth-child(even){
      background:#fff;
  }
  
  .ftheme{
      width:100%;
  }
  
  .dndDropArea .field .fa{
      opacity:0;
  }
  .dndDropArea .field:hover .fa{
      opacity:1;
  }
  
  .colorpick{
      height: 25px;
      background: white;
      border: none;
  }
  #exampleFormControlSelect1{
      width: 4px !important
  }
  .number-input input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    
    .number-input {
      margin-bottom: 3rem;
    }
    
    .number-input button {
      -webkit-appearance: none;
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0;
      position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
      display: inline-block;
      position: absolute;
      content: '';
      height: 2px;
      transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
      text-align: center;
    }
    
    .number-input.number-input {
      border: 1px solid #ced4da;
      width: 10rem;
      border-radius: .25rem;
    }
    
    .number-input.number-input button {
      width: 2.6rem;
      height: .7rem;
    }
    
    .number-input.number-input button.minus {
      padding-left: 10px;
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
      width: .7rem;
      background-color: #495057;
    }
    
    .number-input.number-input input[type=number] {
      max-width: 4rem;
      padding: .5rem;
      border: 1px solid #ced4da;
      border-width: 0 1px;
      font-size: 1rem;
      height: 2rem;
      color: #495057;
    }
    
    @media not all and (min-resolution:.001dpcm) {
      @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
          margin-top: -.3rem;
        }
      }
    }
  
  
    /* Button Animation */
  /* snippet based on example from littlesnippets.net */
  @import url(https://fonts.googleapis.com/css?family=BenchNine:700);
  .snippet {
    background-color: #6593f5;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    /* font-size: 0.4em; */
    font-size: 1rem;
    line-height: 1em;
    margin: 5px 10px;
    outline: none;
    padding: 12px 24px 10px;
    position: relative;
    font-weight: 400;
  }
  
  .snippet:before,
  .snippet:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 20px;
    position: absolute;
    width: 20px;
  }
  
  .snippet:before {
    border-color: #6593f5;
    border-left-width: 2px;
    border-top-width: 2px;
    left: -5px;
    top: -5px;
  }
  
  .snippet:after {
    border-bottom-width: 2px;
    border-color: #6593f5;
    border-right-width: 2px;
    bottom: -5px;
    right: -5px;
  }
  
  .snippet:hover,
  .snippet.hover {
    background-color: #6593f5;
  }
  
  .snippet:hover:before,
  .snippet.hover:before,
  .snippet:hover:after,
  .snippet.hover:after {
    height: 100%;
    width: 100%;
  }
  
  .border-rad {
    border-radius: 0px;
  }
  
  .container {
    padding: 0;
    margin: 1.5rem 0;
    max-width: 100%;
    min-width: 100%;
  }
  
  .img-size {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 20%;
  }
  
  table {
    line-height: 0.7rem;
    padding-top: 3px;
  }
  
  .thead-dark, .thead-light, .card-text, .card-title {
    line-height: 0.8rem;
  }
  
  .chart {
    height: 50rem;
  }
  
  #chart-1, #chart-2 {
    width: 100%;
    height: 100%;
  }
  
  .single-ingredient {
    min-width: 100%;
  }
  
  .col-one {
    width: 2rem;
  }
  
  .col-two {
    width: 20rem;
  }
  
  .col-three {
    width: 15rem;
  }
  
  .print {
    color: #6593f5;
    border: 1px solid #6593f5;
  }
  
  .print:hover {
    background-color: #6593f5;
    color: white;
    border: none;
  }
  
  .recipe-ingredients, .recipe-ingredients tbody td {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0.7rem;
  }
  
  .single-ingredient:hover {
    cursor: pointer;
  }
  
.btn-border {
  /* border-radius: 0%; */
  margin-top: 1rem;
}
.fa{
  color: #ef444c;
}
.wrapperFull{
  padding: 10px
}