.single-ingredient, ._ngcontent-jaw-c5 {
    min-width: 100%;
}

.col-one {
    min-width: 7%;
}

.col-two {
    min-width: 86%;
}

.col-three {
    min-width: 7%;
}

p {
    padding-left: 9%;
    color: #343A4099;
}

.fa {
    color: #6593f5;
}

.height {
    line-height: 0.5rem;
    padding-top: 9px;
    padding-bottom: 3px;
}
