<table class="single-ingredient">
    <tbody>
        <tr (click)="toggleView()" class="d-flex justify-content-left">
            <td class="col-one height"  scope="row">{{this.index+1}}</td>
            <td class="col-two height">{{this.ingredient.product.description}}: {{this.ingredient.amount}} {{this.ingredient.selectedMeasure}}</td>
            <td class="height">
                <i *ngIf="!this.toggle" class="fa fa-plus" aria-hidden="true"></i>
                <i *ngIf="this.toggle" class="fa fa-minus" aria-hidden="true"></i>
            </td>
        </tr>
        <tr *ngIf="this.toggle" >
            <span *ngFor="let nutrient of formattedIngrNutrition; index as i">
                <p class="ingr-list">{{this.nutrient.nutrient}}:  {{this.nutrient.value | number}}</p>
            </span>
            <span class="small ingr-list">*values per 100 grams</span>
        </tr>
    </tbody>
</table>