ng-sidebar-container {
  height: 100vh;
  position: absolute;
}

::selection {
    background-color: #6593f5;
    color: #fff;
  }
  
  a {
    color: #6593f5;
    text-decoration: none;
  }
    a:hover {
      border-bottom: 1px solid #6593f5;
    }
  
  p {
    margin-bottom: 1em;
  }
  
  h1,
  h2 {
    font-weight: 300;
  }
  
  h1 {
    border-bottom: 1px dotted #6593f5;
    display: block;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
  }
  
  h2 {
    margin: 0.5rem 0;
  }
  
  .loading {
    padding: 1em;
  }
  
  ::ng-deep aside {
    background-color: #343A40;
    padding: 2em 1em;
  }
  
  .demo-header {
    align-items: center;
    background: #0273d4;
    color: #fff;
    display: flex;
    padding: 1em;
  }
  
    .demo-header__toggle {
      background: transparent;
      border: 0.15rem solid #fff;
      border-left: 0;
      border-right: 0;
      cursor: pointer;
      font-size: 0;
      height: 1.5rem;
      margin-right: 1rem;
      position: relative;
      width: 2rem;
    }
      .demo-header__toggle:after {
        background: #fff;
        content: '';
        height: 0.15rem;
        left: 0;
        margin-top: -0.075rem;
        position: absolute;
        top: 50%;
        width: 100%;
      }
      
      .app-nav-sidebar.ng-sidebar--opened.ng-sidebar--over {
      box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    }
  
  .demo-contents {
    padding: 0 2em;
  }
  
  .demo-control {
    background-color: #f6f6f6;
    border: 1px solid #545555;
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 0.5em 2em;
    transition: background-color 0.15s;
  }
  .demo-control:hover {
      background-color: #6593f5;
      color: #fff;
    }

  
/* styling the menu list */
.sidebar-nav{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.white {
  color: white;
}
