<ng-sidebar-container
(onBackdropClicked)="_onBackdropClicked()">
    <ng-sidebar
    [(opened)]="_opened"
    [mode]="_MODES[_modeNum]"
    [keyClose]="_keyClose"
    [position]="_POSITIONS[_positionNum]"
    [dock]="_dock"
    [dockedSize]="'50px'"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [ariaLabel]="'My sidebar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()">

        <div class="col">
            <div class="row align-self-start">
                <nav >
                    <ul class="sidebar-nav">
                        <li class="sideNav-item active">
                            <a class="sideNav-link" routerLink="/recipes/all-recipes">All Recipes</a>
                        </li>
                        <li class="sideNav-item">
                            <a class="sideNav-link" routerLink="/recipes/new-recipe">Create recipe</a>
                        </li>
                        <li class="sideNav-item">
                            <a class="sideNav-link" routerLink="/recipes/analyzer">Analyze recipe</a>
                        </li>
                        <li class="sideNav-item">
                            <a class="sideNav-link" routerLink="/calendar">Calendar</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="row align-self-end">
                <p class="text-small white"><a closeSidebar>Close Sidebar</a></p>
            </div>
        </div>

    </ng-sidebar>

</ng-sidebar-container>
