<div class="recipes-container">
    <div class="row">
        <div class="col-sm"></div>
    
        <div class="col-sm-8">
            <div class="d-flex justify-content-center">
              <button class="btn button-link link" (click)="toggleSort()"><i class="fa fa-sort"></i> Sort by kCal</button>
            </div>

            <div *ngFor="let recipe of allRecipes | paginate: { itemsPerPage: 3, currentPage: p }">
                <app-single-recipe-card [recipe]='recipe' (triggerDeletion)="deleteRecipe($event)"></app-single-recipe-card>
            </div>

            <pagination-controls class="d-flex justify-content-center"
                (pageChange)="p = $event"
                maxSize="7"
                directionLinks="true"
                autoHide="false"
                responsive="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"
            ></pagination-controls>
        </div>

        <div class="col-sm"></div>
    </div>
</div>
